name: mediapp
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.7.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  intl: ^0.18.0
  sqflite: ^2.3.0
  path_provider: ^2.1.2
  flutter_local_notifications: ^19.4.1
  timezone: 0.10.1
  permission_handler: ^12.0.1
  image_picker: ^1.0.4
  shared_preferences: ^2.3.2
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
